<div class="container">
    <div class="menu-element-container pointer" (click)="onClick('ByBrand')">
        <div class="menu-element">
            <img [src]="imgFolder + 'fabricant.png'" alt="Tools">
            <div class="title">
                <p class="menu-font">By Brand</p>
            </div>    
        </div>
    </div>    
    <div class="menu-element-container pointer" (click)="onClick('ByReference')">
        <div class="menu-element">        
            <img [src]="imgFolder + 'ref.png'" alt="Tools">
            <div class="title">
                <p class="menu-font">By Reference</p>
            </div>    
        </div>
    </div>
</div>